# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# native build output
android/
ios/

# environment
.env
.env.local

# OS/editor
.DS_Store
Thumbs.db
.vscode/settings.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
